arabic-reshaper==2.1.1
asgiref==3.2.10
autopep8==1.5.4
Django==3.1.2
django-crispy-forms==1.9.2
django-livesync==0.5
future==0.18.2
html5lib==1.1
pathtools==0.1.2
Pillow==8.1.0
pycodestyle==2.6.0
PyPDF2==1.26.0
python-bidi==0.4.2
pytz==2020.1
reportlab==3.5.59
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
tornado==6.1
watchdog==0.10.3
webencodings==0.5.1
websocket-client==0.57.0
xhtml2pdf==0.2.5
