{% extends 'include/base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Booking</title>{% endblock %}

{% block container_fluid %}
    <div class="container ">
        <div class="card">
            <div class="card-header">
                <h4>Service Booking</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.patient|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.mobile|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.service|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.state|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.city|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ bookingForm.pin|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ bookingForm.address|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Book Service</button>
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}