{% extends 'include/base.html' %}
{% load static %}
{% block title %}<title>NursForCare</title>{% endblock %}
{% block useCss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
{% endblock %}


{% block container_fluid %}
    <div class="containerI m-1 p-1">
        {#            <img src="{% static 'svg/doc1.png' %}" alt="heart" width="80%" height="auto"#}
        {#                style="margin-left: 15%; opacity: 0.48;">#}
        <div class="svg-animation-container-doctor" style="margin-left: 42%; width: 58%; opacity: 1;">
            {% include "ui/doctorIndex.html" %}
        </div>
        <h2 class="top-left navbar-brand" style="color: #6C63FF;">NursForCare</h2>
        <div class="row top-left">
            <div class="col-md-5 col-lg-5">
                <div class="text-justify mt-5 font-weight-bold ">
                    <p style="color: black;">With NursForCare in-home nursing services, get the most of our healthcare
                        services
                        available in the comfort of your home. Encompassing highly qualified nurses for elderly care,
                        post-surgical care, injections, wound care or vaccinations, providing doctor consultation,
                        on time medicine delivery, ambulance service, our team is devoted to providing
                        you with the compassionate care you deserve.</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-7">
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="text-left ml-2" style="color: #6C63FF;">Services</h4>
                    <div class="text-justify mt-2 font-weight-bold ">
                       <ul class="" style="color: black;">
                           <li>Nursing</li>
                           <li>Vaccination</li>
                           <li>Elder Care</li>
                           <li>Consultation</li>
                           <li>Medicine</li>
                           <li>Ambulance</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}